<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CarPark2018.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="false" logKnownPii="false" logMalformedMessages="false" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false"/>
    </diagnostics>
    <client>
      <endpoint address="net.tcp://192.168.1.232:9093/CashierService" binding="netTcpBinding" bindingConfiguration="NetTCPBinding" contract="Master.SystemCommunication.Carpark.LocalService.ICashierService" name="ClientConfig" kind="" endpointConfiguration="">
        <identity>
          <dns value="localhost"/>
          <certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectDistinguishedName"/>
        </identity>
      </endpoint>
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServerBehavior">
          <serviceThrottling maxConcurrentSessions="10000"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="NetTCPBinding" openTimeout="00:00:10" receiveTimeout="10:00:10" sendTimeout="00:00:10" transactionFlow="false" transferMode="Buffered" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" portSharingEnabled="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServerBehavior" name="Carpark.LocalService.Lib.ICarparkService">
        <endpoint address="net.tcp://192.168.11.174:9091/CarparkService" behaviorConfiguration="ClientBehavior" binding="netTcpBinding" bindingConfiguration="NetTCPBinding" name="SkyInno.Lib.Communication.Service" contract="SkyInno.LPRS.Communications.ILPRSService" listenUriMode="Explicit" kind="" endpointConfiguration="">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
  <applicationSettings>
    <CarPark2018.Properties.Settings>
      <setting name="OnlyID" serializeAs="String">
        <value>CashierC</value>
      </setting>
      <setting name="ServerEQM" serializeAs="String">
        <value>EQMC</value>
      </setting>
      <setting name="IsMPayByPAX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WatchAreaID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>masteradmin</value>
      </setting>
      <setting name="Pwd" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="ServerIP2" serializeAs="String">
        <value>192.168.1.232</value>
      </setting>
      <setting name="ShieldNum" serializeAs="String">
        <value>625019</value>
      </setting>
      <setting name="TimeOutNum" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="PaymentServerUrl" serializeAs="String">
        <value>http://192.168.11.176:8093/</value>
      </setting>
      <setting name="ParkingLotNo" serializeAs="String">
        <value>10012</value>
      </setting>
      <setting name="AreaCodeP" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DBName" serializeAs="String">
        <value>CarparkData</value>
      </setting>
      <setting name="ServerIP" serializeAs="String">
        <value>192.168.1.232</value>
      </setting>
      <setting name="DBConnection" serializeAs="String">
        <value>
          metadata=res://*/CarParkData.csdl|res://*/CarParkData.ssdl|res://*/CarParkData.msl;provider=MySql.Data.MySqlClient;provider connection string="server=127.0.0.1;User Id=masteradmin;password=master123456;Persist Security Info=True;database=CarparkData;Pooling=true;Min Pool Size=1;Max Pool Size=20;"

        </value>
      </setting>
      <setting name="ReportPath" serializeAs="String">
        <value>http://192.168.1.232/</value>
      </setting>
     <setting name="IsFeeForm" serializeAs="String">
        <value>False</value>
      </setting>
<setting name="zhaji" serializeAs="String">
        <value>1</value>
      </setting>
<setting name="rent" serializeAs="String">
        <value>0</value>
      </setting>
<setting name="nocash" serializeAs="String">
        <value>0</value>
      </setting>
<setting name="verify" serializeAs="String">
        <value>2</value>
      </setting>
    </CarPark2018.Properties.Settings>
  </applicationSettings>
</configuration>
